<h2>Admin Panel</h2>

<form method="post" action="/add">
<input name="name" placeholder="Name"><br>
<input name="poster" placeholder="Poster"><br>

<input name="link_480" placeholder="480 link">
<input name="size_480" placeholder="480 size"><br>

<input name="link_720" placeholder="720 link">
<input name="size_720" placeholder="720 size"><br>

<input name="link_1080" placeholder="1080 link">
<input name="size_1080" placeholder="1080 size"><br>

<button>Add</button>
</form>

{% for m in movies %}
<div>
{{m.name}}
<a href="/edit/{{m.id}}">Edit</a>
<a href="/delete/{{m.id}}">Delete</a>
</div>
{% endfor %}
