<!DOCTYPE html>
<html>
<body style="background:#0a0f1c;color:white;text-align:center;">

<h2>{{m.name}}</h2>
<img src="{{m.poster}}" width="300"><br><br>

<a class="btn" href="{{m.link_480}}">480p {{m.size_480}}</a>
<a class="btn" href="{{m.link_720}}">720p {{m.size_720}}</a>
<a class="btn" href="{{m.link_1080}}">1080p {{m.size_1080}}</a>

<style>
.btn {display:block;margin:10px auto;padding:12px;width:200px;
background:linear-gradient(45deg,#6a11cb,#ff4d4d);border-radius:25px;color:white;text-decoration:none;}
</style>

</body>
</html>
